
.idea/algdat-2022-oblig-2-master.iml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/algdat-2022-oblig-2-master.iml
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/compileJava/previous-compilation-data.bin
build/test-results/test/binary/results.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/output.bin
build/reports/tests/test/packages/no.oslomet.cs.algdat.Oblig2.html
build/reports/tests/test/js/report.js
build/reports/tests/test/index.html
build/reports/tests/test/css/style.css
build/reports/tests/test/css/base-style.css
build/reports/tests/test/classes/no.oslomet.cs.algdat.Oblig2.Oblig2Test.html
build/classes/java/test/no/oslomet/cs/algdat/Oblig2/Oblig2Test.class
build/classes/java/test/no/oslomet/cs/algdat/Oblig2/Oblig2Test$1Test.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/Main_For_Test.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/Liste.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/DobbeltLenketListe.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/DobbeltLenketListe$Node.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/DobbeltLenketListe$DobbeltLenketListeIterator.class
build/classes/java/main/no/oslomet/cs/algdat/Oblig2/Beholder.class
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/resourceHashesCache.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/executionHistory/executionHistory.lock
*.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/fileHashes.lock
